torch==2.8.0
transformers==4.56.0
bitsandbytes==0.47.0
langchain==0.3.27
langchain-core==0.3.75
langchain_community==0.3.29
fastapi==0.116.1
uvicorn==0.35.0
langserve==0.3.1
pyngrok==7.3.0
pypdf==6.0.0
peft==0.17.1
accelerate==1.10.1
chromadb==1.0.20
pydantic==2.11.7
sentence-transformers==5.1.0
wget==3.2
